<apex:page controller="JobCustomController">
  <apex:stylesheet value="{!URLFOR($Resource.Library, 'NewApplication_CSS/CSS_Job.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Library, 'NewApplication_JS/JS_Job.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jQuery)}"/>
<div class="myClass">
     <div class="header">
         <h1>Job Wizard</h1>
         <hr size="3" width="100%" color="black"/>
    </div>
  <apex:form styleClass="aa" onsubmit="return JobValidateForm()">
      <apex:pageBlock >
        <apex:image styleClass="img" url="{! URLFOR($Resource.Library,'NewApplication_Image/enzigma.png')}"/>
          <h2> Job Information </h2>
         <apex:pageBlockSection columns="1">

          <!--<apex:inputField value="{!Job.Name}"/>-->
 		  <!--<apex:inputField id="act1" value="{!Job.Active__c}"/>-->
          
          <apex:inputField id="cert2" value="{!Job.Certification_Required__c}"/>
          <apex:inputField id="desc3" value="{!Job.Description__c}"/>
          <apex:inputField id="exp4" value="{!Job.Expires_On__c}"/>
          <!--<apex:inputField value="{!Job.Hired_Applicants__c}"/>-->
          <apex:inputField id="man5" value="{!Job.Manager__c}"/>
          <apex:inputField id="manass6" value="{!Job.Manager_assign__c}"/>
          <!--<apex:inputField value="{!Job.Name__c}"/>-->
          <apex:inputField id="nop7" value="{!Job.Number_of_Positions__c}"/>
          <apex:inputField id="qual8" value="{!Job.Qualification_Required__c}"/>
          <apex:inputField id="skill9" value="{!Job.Required_Skills__c}"/>
          <apex:inputField id="sal10" value="{!Job.Salary_Offered__c}"/>
          <!--<apex:inputField value="{!Job.Total_Applicants__c}"/>-->
          <apex:inputField id="jtype11" value="{!Job.Job_Type__c}"/>
          </apex:pageBlockSection>
          <div class="container">
          <apex:commandButton styleClass="btn" onclick="return JobValidateForm();" value="save" action="{!save}"/>
          </div>
      </apex:pageBlock>
  </apex:form>
</div>
</apex:page>