<apex:page >
  <apex:toolbar >
      <apex:outputText >Lead</apex:outputText>
      
      <apex:toolbarGroup itemSeparator="line">
          <apex:outputText >Contact</apex:outputText>
          <apex:outputText >Opportunity</apex:outputText>
      </apex:toolbarGroup>
      
      <apex:toolbarGroup location="right" >
          <apex:form >
              <apex:inputText >Enter Feedback: </apex:inputText>
              <apex:commandButton value="save"/>
          </apex:form>
      </apex:toolbarGroup>
  </apex:toolbar>
</apex:page>