<apex:page controller="NewJobCustomController">
  <apex:form >
      <apex:pageBlock >
          <apex:pageBlockSection title="Details" columns="1">
    
           <apex:outputText value="{!Job.Name}"/>
          <apex:outputText value="{!Job.Active__c}"/>
          <apex:outputText value="{!Job.Certification_Required__c}"/>
          <apex:outputText value="{!Job.Description__c}"/>
          <apex:outputText value="{!Job.Expires_On__c}"/>
          <!--<apex:inputField value="{!Job.Hired_Applicants__c}"/>-->
          <apex:outputText value="{!Job.Manager__c}"/>
          <apex:outputText value="{!Job.Manager_assign__c}"/>
          <!--<apex:inputField value="{!Job.Name__c}"/>-->
          <apex:outputText value="{!Job.Number_of_Positions__c}"/>
          <apex:outputText value="{!Job.Qualification_Required__c}"/>
          <apex:outputText value="{!Job.Required_Skills__c}"/>
          <apex:outputText value="{!Job.Salary_Offered__c}"/>
          <!--<apex:inputField value="{!Job.Total_Applicants__c}"/>-->
          </apex:pageBlockSection>
      </apex:pageBlock>
      
      <apex:pageBlock >
          <apex:pageBlockSection title="RelatedListComponent">
              <c:JobCustomComponent records="{!records}" fields="{!fields}"></c:JobCustomComponent>
          </apex:pageBlockSection>
      </apex:pageBlock>
  </apex:form>
</apex:page>